{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <div class="form-group">
            <label for="title">제목</label>
            <input
                    type="text"
                    class="form-conrtrol"
                    id="title"
                    value="{{ board.title }}"
            />
            <label for="contents">내용</label>
            <textarea class="form-control">{{ board.contents }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </div>
</div>
{% endblock %}