<!doctype html>
<html class="no-js" lang="kor">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Show Car</title>
        <meta name="description" content="Design car">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../Static/css/style.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="preloader-area">
            	<div class="preloader-box">
            		<div class="preloader"></div>
            	</div>
            </div>
        </div>

        <header class="header-section">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                    	<a class="navbar-brand" href="index.html"><b>H</b>ome</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right cart-menu">
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="guide.html">Guide</a></li>
		    <li><a href="design.html">Design</a></li>
                            <li><a href="community.html">Community</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="#"><span class="login">0</span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>

        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h1>문의사항</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft animated">
                        <div class="left-content">
                            <h1><span>S</span>how car</h1>
                            <h3>저희 사이트에 방문해주셔서 감사합니다.</h3>
                            <p>이용하시다가 문의사항 혹은 건의사항이 있으시면 언제든 편하게 연락주시면 감사하겠습니다.</p>
                            <div class="contact-info">
                                <p><b>Email:</b> crulangle@naver.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight animated">
                        <form action="" method="" class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="Your Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" placeholder="Website URL">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <textarea name="" id="" class="form-control" cols="30" rows="5" placeholder="Your Message..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="submit" class="contact-submit" value="Send" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="social-media">
                      <ul>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                    </div>
                      <p class="center">Copyright 오파닭 All rights reserved. Developed by <i class="fa fa-love"></i><a href="https://ssac.seoul.kr/main/index.jsp">SSAC</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="../Static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../Static/js/vendor/bootstrap.min.js"></script>
        <script src="../Static/js/isotope.pkgd.min.js"></script>
        <script src="../Static/js/owl.carousel.min.js"></script>
        <script src="../Static/js/wow.min.js"></script>
        <script src="../Static/js/custom.js"></script>
    </body>
</html>
